ion-list-header {
    background-color: #ececec;
  }
  
  .placeholder-profile {
    color: #cccccc;
  }

  .error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}


.home-style
{
  text-align: center;
  margin-top: 2000px;
}

.login-margin
{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.register-margin
{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
