<ion-header>
    <ion-toolbar color = "primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end">
              <ion-button [routerLink]="['/menu/basket']">
                <ion-icon slot="icon-only" name="basket" color = "light"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons  slot="primary">
                <ion-button [routerLink]="['/search']">
                  <ion-icon slot="icon-only" name="search" color="light"></ion-icon>
                </ion-button>
              </ion-buttons>
        <ion-title color = "light" size="medium" text-start>Me&Me</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Hello {{userProfile?.fName}} {{userProfile?.lName}}
    </ion-list-header>
  </ion-list>
  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start" size="5"> First Name </ion-col>
          <ion-col
            size="7"
            *ngIf="userProfile?.fName"
          >
            {{userProfile?.fName}}
          </ion-col>
          <ion-col
            size="7"
            class="placeholder-profile"
            *ngIf="!userProfile?.fName"
          >
            <span> Enter your first name. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start" size="5"> Last Name </ion-col>
          <ion-col
            size="7"
            *ngIf="userProfile?.lName"
          >
            {{userProfile?.lName}}
          </ion-col>
          <ion-col
            size="7"
            class="placeholder-profile"
            *ngIf="!userProfile?.lName"
          >
            <span> Enter your last name. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start" size="5"> Email </ion-col>
          <ion-col size="7" *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col
            size="7"
            class="placeholder-profile"
            *ngIf="!userProfile?.email"
          >
            <span> Enter Email address. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start" size="5"> Phone</ion-col>
          <ion-col size="7" *ngIf="userProfile?.email">
            {{userProfile?.phone}}
          </ion-col>
          <ion-col
            size="7"
            class="placeholder-profile"
            *ngIf="!userProfile?.email"
          >
            <span> Enter phone number. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updatePassword()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start" size="5"> Password </ion-col>
          <ion-col class="placeholder-profile" size="7">
            <span> Change password. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
<ion-item>
  <ion-button class="login-margin" color="danger" (click)="logOut()" expand="full" >Logout</ion-button>
</ion-item>
</ion-content>