<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-auth-form
    #loginForm
    (formSubmitted)="loginUser($event)"
    [actionButtonText]="'Login'"
  ></app-auth-form>

  <button [routerLink]="['/register']" align="center" class="register-margin">
    <img src="assets/image/register.png">
  </button>

  <button [routerLink]="['/reset-password']" align="center" class="register-margin">
    <img src="assets/image/forgot-password.png">
  </button>
  
</ion-content>