
.home-style
{
  text-align: center;
  margin-top: 2000px;
}

.login-margin
{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.register-margin
{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
