<ion-header >
  <ion-toolbar color = "primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/menu']">
              <ion-icon slot="icon-only" name="menu"  color = "light"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title color = "light" size="medium" text-center>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <!-- Searchbar with a placeholder -->
    <ion-searchbar shape="round" placeholder="What you are looking for..."></ion-searchbar>
      </div>
</ion-content>
