<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/profile']">
            <ion-icon slot="icon-only" name="person" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/shop']">
              <ion-icon slot="icon-only" name="menu" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title size="large" text-center>My Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
