<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="form-content">
      <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form)">
                   
            <div formGroupName="country_phone">
              <ion-item>
                <ion-label position="floating" color="primary">Country</ion-label>
                <ion-select formControlName="country" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="primary">Phone</ion-label>
                <ion-input placeholder="Enter 10 digit mobile number" type="text" formControlName="phone"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                  <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <ion-item>
                <ion-label position="floating" color="primary">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            <ion-button color="primary" class="login-margin" expand="full" type="submit" [disabled]="!validations_form.valid" [disabled]="disableGetOTPButton">Submit</ion-button>
      </form>
      <ion-item>
          <ion-label position="floating">OTP</ion-label>
          <ion-input color = "primary" type="text" placeholder="Enter code" [(ngModel)]="OTPcode"></ion-input>
        </ion-item>
        
      <ion-button class="login-margin" expand="full" (click)="verify(validations_form)" [disabled]="disableVerifyButton">Verify OTP</ion-button>
    
      <div>
          <button [routerLink]="['/register']" align="center" class="register-margin">
            <img src="assets/image/register.png">
          </button>
        
          <button [routerLink]="['/reset-password']" align="center" class="register-margin">
            <img src="assets/image/forgot-password.png">
          </button>
        </div>
    </ion-content>