<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button [routerLink]="['/sign-in']">
            <ion-icon slot="icon-only" name="log-in"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/info']">
              <ion-icon slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title size="large" text-center>Me&MyShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" text-center color="white"> 
    <div text-center> Welcome</div>
    <div text-center>within your circle</div>
  <div>
    <!-- Searchbar with a placeholder -->
<ion-searchbar shape="round" placeholder="Items/services near by"></ion-searchbar>
  </div>
    <div>
  <button fill="outline" shape="round" expand="block" [routerLink]="['/map']" class = "button button-full"> 
      get current location
   </button>
  </div>
<div>
  <button shape="round" [routerLink]="['/register']" class = "button button-full"> 
      Register
    </button>
  </div>
  <div>
  <button shape="round" [routerLink]="['/google-map']" class = "button button-full"> 
      main-page
    </button>
  </div>
  <div>
    <button shape="round" [routerLink]="['/phone-register']" class = "button button-full"> 
        phone register
      </button>
    </div>
</ion-content>